@use './../../partials/mixins' as *;
@use './../../partials/variables' as *;

.inventory-item {

    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: .0625rem solid $cloud;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
    }

    @include desktop {
        padding: 1rem 5rem;
    }

    &__details-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__details-subcontainer {
        width: 50%;
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__item-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        color: $indigo;

        @include tablet {
            width: 50%;
            margin-bottom: 0;
        }
    }

    &__category-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 50%;
        }
    }

    &__status-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        @include tablet {
            width: 50%;
            margin-bottom: 0;
        }
    }

    &__quantity-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 50%;
        }
    }

    &__label {
        color: $slate;
        font-weight: 700;
        margin-bottom: .3125rem;

        @include tablet {
            display: none;
        }
    }

    &__text {
        width: fit-content;
    }

    &__item-link {
        cursor: grab;
        font-weight: 700;
        display: flex;
        padding-top: .1875rem;
        padding-bottom: .1875rem;
        align-items: flex-end;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;

        @include tablet {
            width: 20%;
            justify-content: center;
        }
    }

    &__button {
        border: none;
        background-color: $white;

        @include tablet {
            height: fit-content;
        }
    }

    &__chevron-icon {
        fill: $indigo;
    }

    &__delete-icon {
        fill: $red;
    }

    &__edit-icon {
        fill: $indigo;

        @include tablet {
            margin-left: 1rem;
        }
    }

    &__in-stock {
        background-color: rgba(21, 132, 99, 0.07);
        border-radius: $btn-rd;
        padding: .1875rem .9375rem;
        color: $green;
        font-weight: 700;
    }

    &__out-of-stock {
        background-color: rgba(201, 69, 21, 0.07);
        padding: .1875rem .9375rem;
        border-radius: $btn-rd;
        color: $red;
        font-weight: 700;
    }
}