@use './../../partials/mixins' as *;
@use './../../partials/variables' as *;

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-inventory {

    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 90%;
    border-radius: .3125rem;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.1);
    top: -2.5rem;

    @include tablet {
        top: -4.5rem;
        width: 85%;
    }

    position: relative;
    z-index: 2;

    &__heading-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem 1rem;
        margin-bottom: 1rem;
        border-bottom: .0625rem solid $cloud;

        @include tablet {
            padding: 2rem 3rem;
        }
    }

    &__back-icon {
        fill: $indigo;
        margin-right: 1rem;
    }

    &__error-icon {
        height: 2.5vh;
        max-height: 1rem;
        fill: $red;
    }

    &__error-message {
        color: $red;
        @include mob-p2
    }

    &__error-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: .3125rem;
    }

    &__heading {
        @include mob-h1;

        @include tablet {
            @include desk-h1;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    &__main-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            display: flex;
            flex-direction: row;
            padding-bottom: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

    &__details-container {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        border-bottom: .0625rem solid $cloud;

        @include tablet {
            width: 50%;
            padding-right: 2rem;
            border-bottom: none;
            border-right: .0625rem solid $cloud;
            padding-left: 0;
        }
    }

    &__subheading {
        @include mob-h2;
        margin-bottom: 1rem;

        @include tablet {
            @include desk-h2;
        }
    }

    &__name-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__label {
        @include mob-h3;
        margin-bottom: 0.5rem;

        @include tablet {
            @include desk-h3;
        }
    }

    &__input {
        padding: .5rem .9375rem;
        border: .0625rem solid $cloud;
        border-radius: $btn-rd;

        &:focus {
            outline: blue;
            box-shadow: 0 0 .0625rem .0625rem $indigo;
        }
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__input-description {
        resize: none;
        height: 15vh;
    }

    &__category-container {
        display: flex;
        flex-direction: column;
    }

    &__category-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $slate;
        padding-left: 0.5rem;
    }

    &__input-category {
        padding: .3125rem ;
        border: .0625rem solid $cloud;
        border-radius: $btn-rd;
        @include mob-p2;

        @include tablet {
            @include desk-p2;
        }

        &:focus {
            outline: blue;
            box-shadow: 0 0 .0625rem .0625rem $indigo;
        }
    }

    &__drop-down-icon {
        fill: $slate;
    }

    &__category-list {
        list-style-type: none;
        color: $slate;
    }

    &__category-list-item {
        padding: 0.5rem;

        &:hover {
            background-color: rgb(46,102,229, 0.07);
        }
    }

    &__availability-container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet {
            width: 50%;
            padding-left: 2rem;
            padding-top: 0;
            padding-right: 0;
        }
    }

    &__status-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include mob-p2;

        @include tablet {
            @include desk-p2;
        }
    }

    &__radio-button-container {
        display: flex;
        flex-direction: row;
    }

    &__in-stock-container {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    &__radio-button {
        margin-right: 0.5rem;
    }

    &__out-of-stock-container {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    &__quantity-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include desktop {
            width: 40%;
        }
    }

    &__warehouse-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $grey;
        padding: 2rem 1rem;

        @include tablet {
            padding: 2rem 3rem;
            justify-content: flex-end;
        }
    }

    &__cancel-button {
        width: 48%;
        @include button-mob;
        @include mob-h3;
        background-color: $white;
        border: .0625rem solid $slate;
        color: $slate;

        @include tablet {
            @include desk-h3;
            max-width: fit-content;
            padding: 0 1.5rem;
        }
    }

    &__add-button {
        width: 48%;
        @include button-mob;
        @include mob-h3;
        background-color: $indigo;
        color: $white;
        border: none;

        &:hover {
            background-color: $graphite;
        }

        @include tablet {
            @include desk-h3;
            max-width: fit-content;
            margin-left: 1rem;
            padding: 0 1.5rem;
        }
    }
}

::placeholder {
    color: $slate;
}

.hide {
    display: none;
}
