@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.warehouse__list {


    background-color: $white;



    &__header {
        border-bottom: 1px solid $cloud;
        @include pad-mob;


        &-title {
            @include mob-h1;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;



        }

        &-search {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;

            &:focus {

                border-color: $indigo;
                outline: none;
                ;
            }
        }


        &-input {

            border: 1px solid $cloud ;
            padding: $ff-pd;
            border-radius: $ff-rd;
            height: $ff-ht-dt;
            width: 100%;
            flex-grow: 1;
            padding-right: 1.875rem;



            &::placeholder {
                color: $graphite;

            }
        }

        &-container {

            position: absolute;
            right: .625rem;
            pointer-events: none;
            display: flex;
            align-items: center;
            height: 100%;
        }

        &-icon {
            fill: $slate;
            margin-left: -1.6875rem;

            z-index: 10;
        }




        &-add-button {

            border-radius: $ff-rd;
            border: none;
            height: $ff-ht-dt;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: $indigo;
            color: $white;
            @include desk-h3;

        }
    }

    &__section {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include pad-mob;



        &-flex {
            width: 50%;

            &-two {


                width: 50%;


            }

        }


        &-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 1rem;

        }

        &-label {

            @include mob-h4;
            color: $slate;

        }

        &-value {

            @include mob-p2;
            color: $black;
        }


        &-phone {
            @include mob-p2;

        }

        &-email {
            @include mob-p2;


        }

    }

    &__actions {
        @include pad-mob;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $cloud;
        padding-top: 1rem;

        &-delete {

            fill: $red;
        }

        &-edit {

            fill: $indigo;

        }

    }
}