@font-face {
    font-family: 'titillium web';
    src: url('../../src/fonts/TitilliumWeb-Regular.ttf') format('truetype');
    // src: url('') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'titillium web';
    src: url('../../src/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
    // src: url('') format('opentype');
    font-weight: 600;
    font-style: normal
}