@use './../../partials/mixins' as *;
@use './../../partials/variables' as *;

.inventories {

    &__header-container {
        padding: 2rem;
    }

    &__heading {
        width: 100%;
        margin-bottom: .625rem;
    }

    &__search-container {
        width: 100%;
        padding: .3125rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: .0625rem solid $cloud;
        border-radius: $btn-rd;
        margin-bottom: .625rem;
    }

    &__input-field {
        width: 90%;
        padding-left: 1rem;
        padding-right: .625rem;
        border: none;
        outline: none;
    }

    &__search-icon {
        fill: $slate;
    }

    &__add-button {
        width: 100%;
        height: $btn-ht-mb;
        padding: .3125rem;
        border: .0625rem solid $cloud;
        border-radius: $btn-rd;
        background-color: $indigo;
        color: $white;
        font-weight: 700;

        &:hover {
            background-color: $graphite;
        }

        @include tablet {
            height: $btn-ht-dt;
        }
    }

    &__inventory-list {

    }
}